{%extends 'base.html'%}
{%block content%}
  <div class="container p-5 w-75">
    <h3 class="text-center" style="color: RGB(136,136,136)">
      Simulación
    </h3>
    <p class="text-center" style="color: RGB(136,136,136)">
      Universidad Tecnológica Nacional | FRC
    </p>

    <h1 class="text-center my-4">Grupo 5</h1>

    <div class="d-flex flex-column">
      <div class="rounded p-4 mb-4" style="background-color: #171717">
        <span class="me-5" style="color: RGB(136,136,136);">90236</span>Martín Boris
      </div>
      <div class="rounded p-4 mb-4" style="background-color: #171717">
        <span class="me-5" style="color: RGB(136,136,136);">90618</span>Santiago Avendaño
      </div>
      <div class="rounded p-4 mb-4" style="background-color: #171717">
        <span class="me-5" style="color: RGB(136,136,136);">90318</span>Juan Pedro Roldan
      </div>
      <div class="rounded p-4 mb-4" style="background-color: #171717">
        <span class="me-5" style="color: RGB(136,136,136);">89772</span>Tomás Malamud
      </div>
      <div class="rounded p-4 mb-4" style="background-color: #171717">
        <span class="me-5" style="color: RGB(136,136,136);">89074</span>Juan Francisco Márquez
    </div>
      <div class="rounded p-4 mb-4" style="background-color: #171717">
        <span class="me-5" style="color: RGB(136,136,136);">86103</span>Juan Ignacio Taliani
      </div>
      <div class="rounded p-4 mb-4" style="background-color: #171717">
        <span class="me-5" style="color: RGB(136,136,136);">86694</span>Eliseo Dávila Pellegrino
      </div>
    </div>
  </div>
{%endblock%}