{%extends 'base.html'%} {%block content%}
<div class="container p-5 w-75">
  <h1 class="text-center">Aceptar Cotización</h1>
  <h2>Cotizaciones propuestas:</h2>
  <table class="table text-center table-bordered position-absolute start-0 mt-4">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Transportista</th>
        <th>Fecha de Retiro</th>
        <th>Fecha de entrega</th>
        <th>Costo</th>
        <th>Calificación</th>
        <th>Seleccionar</th>
      </tr>
    </tr>
    </thead>
    <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
</div>
{%endblock%}